<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%= el.name %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,700" rel="stylesheet">
	
	<link rel="icon" href="<%= el.url + el.favicon.url %>" type="image/png">

	<!-- Animate.css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="/css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">
	
	<!-- Flaticons  -->
	<link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/css/style.css">

	<!-- Modernizr JS -->
	<script src="/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body  dir="<%= el.lang =='en' ? 'ltr' : 'rtl' %>">
		
	<div class="colorlib-loader"></div>

	<div id="page">
		
		<!-- Start header -->
		<%- include('components/header.ejs', {el: el} ) %>
		<!-- End header-->

		<aside id="colorlib-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url(<%= el.url + el.contact_main_page.url %>);">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-8 col-sm-12 col-md-offset-2 slider-text">
				   				<div class="slider-text-inner text-center">
				   						<h1><%= el.lang == 'en'? 'Contact us' : 'اتصل بنا' %></h1>
										<h2><a href="/<%= el.lang %>">
											<%= el.lang =='en'  ? 'Home' : 'الرئيسة' %>
										</a> -
										 <%= el.lang == 'en' ? ' Contact us': 'اتصل بنا' %>
										</h2>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>
		
		<div id="colorlib-contact">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 animate-box">
						<h2 > <%= el.lang == 'en' ? ' Contact Information': 'بيانات الاتصال' %></h2>
						<div class="row">
							<div class="col-md-12">
								<div class="contact-info-wrap-flex">

									<div class="con-info">
										<!-- Start Address  -->
										<p><span><i class="icon-location-2"></i></span><%= el.address %></p>
										<!-- End Address  -->
									</div>
									<div class="con-info">
										<!-- Start Telephone -->
										<p><span><i class="icon-phone3"></i></span> <a href=<%="tel:"+el.mobile%>><%= el.mobile %></a></p>
										<!-- End Telephone -->
									</div>
									<div class="con-info">
										<!-- Start Email  -->
										<p><span><i class="icon-paperplane"></i></span> <a href="mailto:<%= el.email %>"><%= el.email %></a></p>
										<!-- End Email -->
									</div>
									<div class="con-info">
										<!-- Start Webiste -->
										<p><span><i class="icon-globe"></i></span> <a href="http://<%= el.website %>"><%= el.website %></a></p>
										<!-- End Website -->
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-10 col-md-offset-1 animate-box">
						<h2><%= el.lang == 'en' ? 'Get in Touch': 'تواصل معنا' %></h2>
						<form action="#">
							<div class="row form-group">
								<div class="col-md-6">
									<label for="fname"> 
										<%= el.lang == 'en' ? 'First Name': 'الاسم الاول' %>
									</label>
									<input type="text" required id="fname" class="form-control"
									 placeholder="<%= el.lang == 'en' ? 'First Name': 'الاسم الاول' %>">
								</div>
								<div class="col-md-6">
									<label for="lname">
										<%= el.lang == 'en' ? 'Last Name': 'الاسم العائلة' %>
									</label>
									<input type="text" required id="lname" class="form-control" 
									placeholder="<%= el.lang == 'en' ? 'Last Name': 'الاسم العائلة' %>">
								</div>
							</div>

							<div class="row form-group">
								<div class="col-md-12">
									<label for="email">
										<%= el.lang == 'en' ? 'Email': 'البريد الالكترونى' %>
									</label>
									<input required type="text" id="email" class="form-control" 
									placeholder="<%= el.lang == 'en' ? 'Email': 'البريد الالكترونى' %>">
								</div>
							</div>

							<div class="row form-group">
								<div class="col-md-12">
									<label for="subject"><%= el.lang == 'en' ? 'Subject': 'الموضوع' %></label>
									<input type="text" id="subject" class="form-control" 
									placeholder="<%= el.lang == 'en' ? 'Subject': 'الموضوع' %>">
								</div>
							</div>

							<div class="row form-group">
								<div class="col-md-12">
									<label for="message">
										<%= el.lang == 'en' ? 'Message': 'الرسالة' %>
									</label>
									<textarea required name="message" id="message" cols="30" rows="10" class="form-control" placeholder="<%= el.lang == 'en' ? 'Message': 'الرسالة' %>">
									</textarea>
								</div>
							</div>
							<div class="form-group">
								<input type="submit" value="<%= el.lang == 'en' ? 'Send Message': 'ارسال' %>"  onclick="submitLead(event)"  class="btn btn-primary">
							</div>
						</form>		
					</div>
				</div>
			</div>
		</div>
	


		<!-- Start Footer -->
		<%- include('components/footer.ejs', {el: el} ) %>
		<!-- End Footrer-->

	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>
  
  

  <script>
    function submitLead(e) {
      e.preventDefault();
      console.log(e)
      var data = {
        fname: document.getElementById('fname').value,
        lname: document.getElementById('lname').value,
        email: document.getElementById('email').value,
        subject: document.getElementById('subject').value,
        message: document.getElementById('message').value
      }

      console.log(data);
      if( data.fname && data.lname && data.message ){
        var request = new XMLHttpRequest();
      request.open('POST', '/', true);
      request.setRequestHeader('Content-Type', "application/json;charset=UTF-8");
      request.onreadystatechange = function () {
        if (this.readyState == XMLHttpRequest.DONE) {
          if (this.status == 200) {
            console.log('succeed')
            console.log(this.responseText)
            document.getElementById('fname').value='';
            document.getElementById('lname').value='';
            document.getElementById('email').value='';
            document.getElementById('subject').value='';
            document.getElementById('message').value='';
          }
          else if (this.status == 400) {
            console.log('enternal server error');
          } else {
            console.log('neither 200 nor 400');
          }
        }
      };
      request.onerror = function () {
        console.log('something went wrong');
      };
      request.send(JSON.stringify(data));
      }
     
    }
  </script>
	<!-- jQuery -->
	<script src="/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="/js/jquery.stellar.min.js"></script>
	<!-- Flexslider -->
	<script src="/js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="/js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/magnific-popup-options.js"></script>
	<!-- Counters -->
	<script src="/js/jquery.countTo.js"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="js/google_map.js"></script>
	<!-- Main -->
	<script src="/js/main.js"></script>

	</body>
</html>

