		<footer id="colorlib-footer" dir="<%= el.lang == 'en' ? 'ltr' : 'rtl'  %>">
			<div class="contact-information">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="row">
								<div class="col-md-4 text-center">
									<div class="info-wrap">
										<span class="icon"><i class="icon-location4"></i></span>
										<p><%= el.address %></p>
									</div>
								</div>
								<div class="col-md-4 text-center">
									<div class="info-wrap">
										<span class="icon"><i class="icon-world"></i></span>
										<p><a href="mailto:<%= el.email %>"><%= el.email %></a></p>
									</div>
								</div>
								<div class="col-md-4 text-center">
									<div class="info-wrap">
										<span class="icon"><i class="icon-phone2"></i></span>
										<p><a><%= el.mobile %></a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row row-pb-md">
					<div class="col-md-5 colorlib-widget">
						<strong style="color:white" ><%= el.lang=='en' ? " About "+el.name+"" : " حول "+el.name_arabic %></strong>
						<p><%= el.lang=='en' ? el.footer_about : el.footer_about_arabic %></p>
					</div>


					<div class="col-md-5 col-md-push-1 colorlib-widget">
						<strong style="color:white"><%= el.lang=='en' ? 'Contact Info' : 'معلومات التواصل' %></strong>
						<ul class="colorlib-footer-links">
							<li><%= el.address %></li>
							<li><a><i class="icon-phone"></i><%= el.mobile %></a></li>
							<li><a href="mailto:<%= el.email %>"><i class="icon-envelope"></i><%= el.email %></a></li>
							<li><a href="http://<%= el.website %>"><i class="icon-location4"></i> <%= el.website %> </a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="copy">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<p>
								<small class="block">
									<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart3" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								</small>
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
