		<footer id="colorlib-footer">
			<div class="contact-information">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="row">
								<div class="col-md-4 text-center">
									<div class="info-wrap">
										<span class="icon"><i class="icon-location4"></i></span>
										<p><%= el.address %></p>
									</div>
								</div>
								<div class="col-md-4 text-center">
									<div class="info-wrap">
										<span class="icon"><i class="icon-world"></i></span>
										<p><a href="mailto:<%= el.email %>"><%= el.email %></a></p>
									</div>
								</div>
								<div class="col-md-4 text-center">
									<div class="info-wrap">
										<span class="icon"><i class="icon-phone2"></i></span>
										<p><a><%= el.mobile %></a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row row-pb-md">
					<div class="col-md-3 colorlib-widget">
						<h4><%= el.lang=='en' ? " About "+el.name+"" : " حول "+el.name_arabic %></h4>
						<p><%= el.lang=='en' ? el.footer_about : el.footer_about_arabic %></p>
<!-- 						<p>
							<ul class="colorlib-social-icons">
								<li><a href="#"><i class="icon-twitter"></i></a></li>
								<li><a href="#"><i class="icon-facebook"></i></a></li>
								<li><a href="#"><i class="icon-linkedin"></i></a></li>
								<li><a href="#"><i class="icon-dribbble"></i></a></li>
							</ul>
						</p> -->
					</div>
					<div class="col-md-3 col-md-push-1 colorlib-widget">
						<h4><%= el.lang=='en' ? 'Information' : 'معلومات' %></h4>
						<p>
							<ul class="colorlib-footer-links">
								<li><a href="#"><i class="icon-check"></i> 
								<%= el.lang=='en' ? 'Our Company' : '' %>
							</a></li>
								<li><a href="#"><i class="icon-check"></i> 
									<%= el.lang=='en' ? 'Certification' : '' %>
								</a></li>
								<li><a href="#"><i class="icon-check"></i>
								<%= el.lang=='en' ? 'Our services' : '' %>
								 </a></li>
								<li><a href="#"><i class="icon-check"></i> 
									<%= el.lang=='en' ? 'Career' : '' %>
								</a></li>
								<li><a href="#"><i class="icon-check"></i> 
									<%= el.lang=='en' ? 'Core Values' : '' %>
								</a></li>
								<li><a href="#"><i class="icon-check"></i> 
									<%= el.lang=='en' ? 'Company History' : '' %>
								</a></li>
								<li><a href="#"><i class="icon-check"></i>
								<%= el.lang=='en' ? 'FAQ' : '' %>
								 </a></li>
							</ul>
						</p>
					</div>


					<div class="col-md-3 col-md-push-1 colorlib-widget">
						<h4><%= el.lang=='en' ? 'Contact Info' : 'معلوماتالنواصل' %></h4>
						<ul class="colorlib-footer-links">
							<li><%= el.address %></li>
							<li><a><i class="icon-phone"></i><%= el.mobile %></a></li>
							<li><a href="mailto:<%= el.email %>"><i class="icon-envelope"></i><%= el.email %></a></li>
							<li><a href="http://<%= el.website %>"><i class="icon-location4"></i> <%= el.website %> </a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="copy">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<p>
								<small class="block">
									<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart3" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								</small>
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>