<div id="<%= href %>" class="tab-pane fade in <%= active %> ">
	<div class="row">
		<div class="col-md-6">
			<div class="services-img" style="background-image: url('<%= url %>');"></div>
		</div>
		<div class="col-md-6">
			<div class="services-desc" >
				<p class="contentHeaders"  dir="<%= el.lang == 'en' ? 'ltr' : 'rtl'  %>">
					<%= rich_text %>		
				</p>
			</div>
		</div>
	</div>
</div>