<aside id="colorlib-hero">
	<div class="flexslider">
		<ul class="slides">
		   	<li style="background-image: url('<%= p.url + p.projectImages[0].url %>');">
		   		<div class="overlay"></div>
		   		<div class="container-fluid">
		   			<div class="row">
			   			<div class="col-md-8 col-sm-12 col-md-offset-2 slider-text">
			   				<div class="slider-text-inner text-center">
	   							<h1><%= el.lang == 'en'? 'Project' : 'مشروع' %></h1>
								<h2><a href="/<%= el.lang %>">
									<%= el.lang =='en'  ? 'Home' : 'الرئيسة' %>
								</a> -
								 <%= el.lang == 'en' ? 'Projcets': 'المشاريع' %>
								</h2>
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>
	  	</ul>
	</div>
</aside>

<div id="colorlib-project">
	<div class="container">
		<div class="row row-pb-lg">
			<div class="col-md-8 animate-box">
				<img class="img-responsive project-single" src="<%= p.url + p.projectImages[1].url %>" alt="html5 bootstrap template by colorlib.com">
				<div class="thumb-wrap">
					<div class="row">
	<%for (var i=2;i<p.projectImages.length;i++){ %>
						<div class="col-md-3 col-sm-3 col-xs-6">
							<span href="#" class="thumb-img" style="background-image: url('<%= p.url + p.projectImages[i].url %>');"></span>
						</div>
<%}%>
					</div>
				</div>
			</div>
			<div class="col-md-4 animate-box"  dir="<%= el.lang =='en' ? 'ltr' : 'rtl' %>">
				<div class="project-single-desc">
					<h2>	 <%= el.lang == 'en' ?  'Project Details' : 'تفاصيل المشروع' %></h2>
					<ul class="list">
						<li><span class="title">
								 <%= el.lang == 'en' ?  'Client' : 'العميل' %>
						</span> <span class="title-2">
								 <%= el.lang == 'en' ?  p.client : p.client_arabic %>	
								 </span></li>
						<li><span class="title">
							 <%= el.lang == 'en' ?  'Location' : 'المكان' %>
						</span> <span class="title-2">
							 <%= el.lang == 'en' ?  p.location : p.location_arabic %>
							</span></li>
						<li><span class="title">
							 <%= el.lang == 'en' ?  'Budget' : 'الميزانية' %>
						</span> <span class="title-2">
							<%= p.budget %></span></li>
						<li><span class="title">
							 <%= el.lang == 'en' ?  'Surface Area' : 'المساحة ' %>
						</span> <span class="title-2">
							<%= el.lang == 'en' ?  p.surfaceArea : p.surfaceArea_arabic %>	
							</span></li>
						<li><span class="title">
							 <%= el.lang == 'en' ?  'Construction Area' : 'مساحة ابناء' %>
						</span> <span class="title-2">
							<%= el.lang == 'en' ?  p.constructionArea : p.construcionArea_arabic %>	
						 %></span></li>
					</ul>
				</div>
				<!-- <p class="downloadreport text-center"><a href="#"><i class="icon-download3"></i> Download Project Report</a></p> -->
			</div>
		</div>
		<!-- ============  paragraphs ========== -->
		<div class="row row-pb-lg" dir="<%= el.lang =='en' ? 'ltr' : 'rtl' %>">
			<div class="col-md-4 animate-box">
				<h3> <%= el.lang == 'en' ?  'Enviroment Description' : 'بيئة العمل' %></h3>
				<p>
				<%= el.lang == 'en' ?  p.enviromentDescription : p.enviromentDescription_arabic %>	
				</p>
			</div>
			<div class="col-md-4 animate-box">
				<h3> <%= el.lang == 'en' ?  'Project Description' : 'وصف المشروع' %></h3>
				<p>
				<%= el.lang == 'en' ?  p.projectDescription : p.projectDescription_arabic %>	
				</p>
			</div>
			<div class="col-md-4 animate-box">
			<h3> <%= el.lang == 'en' ?  'Important Fact' : 'حقائق هامة' %></h3>
					<p>
				<%= el.lang == 'en' ?  p.importantFacts : p.importantFacts_arabic %>	
				</p>
			</div>
		</div>
	</div>
</div>

