<div class="col-md-<%= col %> animate-box">
	<div class="project-entry">
		<a
			href="/projects/<%= id %>"
			class="project-img text-center"
			style="background-image: url('<%= url %>');
		>
			<span class="icon"></span>
		</a>
		<div class="desc">
			<h3>
			 <a href="/project/<%= id %>"><%= name %></a> 
			</h3>
		</div>
	</div>
</div>
 